.navbar {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .nav-left {
  margin-left: 15px;
}

.logo h1 {
  color: white;
  font-size: 1.2em;
}

.wi {
  color: white;
}

.wi:hover {
  color: lightgreen
}

.navbar .nav-right .list {
  display:  flex;
  list-style:  none;
}

.navbar .nav-right {
  display: flex;
}

.navbar .nav-right .list li {
  margin: 0 15px 0 15px;
}

.navbar .nav-right .list li a {
  font-weight: bold;
  text-decoration: none;
}

.navbar .nav-right .list li a:hover {
  color: #55635C;
}

.hr-drop {
  right: 0;
  top: 40px;
  width: 30%;
  height: 55px;
  display: flex;
  font-size: 18px;
  position: absolute;
  align-items: center;
  list-style-type: none;
  flex-direction: column;
  background-color: white;
  justify-content: space-between;
}

.hr-drop.active {
  visibility: visible;
}

.hr-drop:not(.active) {
  visibility: hidden;
}
