* {
  margin: 0;
  padding: 0
}

body {
  background-color: #3E5771
}

.mentorPanel__main {
  display: flex;
  justify-content: space-around;
  margin-top: 15px
}

.mentorPanel__container{
  max-width: 975px;
  width: 100%;
  background-color: white;
  padding: 100px 0px 100px 66px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-info {
  display: flex;
  align-items: center;
  max-width: 693px;
  position: relative;
  width: 100%;
  min-height: 240px;
  padding-left: 150px;
}

.ui.small.button, .ui.small.buttons .button, .ui.small.buttons .or {
    font-size: .92857143rem;
    line-height: 0px;
}

.circle-img {
  border-radius: 50%;
  width: 240px;
  position: absolute;
  left: -123px;
}

.editable__left {
  min-width: 60px;
  display: flex;
  align-items: center;
  height: 60px;
}

.editable__left hr {
  flex-grow: 1;
  margin-top: 2px;
}

.stage__head-title {
  padding-left: 50px;
  font-size: 28px!important;
  line-height: 60px;
}

.editable__right {
  flex-grow: 1;
  padding-left: 5px;
}

.small-circle {
  font-size: 10px !important;
  color: lightgray
}

.w-x100 {
  width: 100%;
}

.space {
  margin: 2.5%;
}

.right-side {
  max-width: 25vw;
}

.info-feild {
  margin: 0 0 5px 0;
  font-size: 1.1em;
}

.job-title {
  color: gray;
}

.name-feild {
  font-size: 1.6em
}

.vertical-divider {
  border-left: 3px solid #c6c6c6b3;
  min-height: 50px;
  margin: 0 2vw 0 2vw
}

.horizontal-divider {
  border-bottom: 3px solid #c6c6c6b3;
  width: 80%;
  margin: 2vh 0 2vh 0;
}

.sticky-divider {
  border-bottom: 2px solid #c6c6c6b3;
  width: 70%;
  margin: 0;
}

.stages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 693px;
  width: 100%;
}

.stage-holder{
  max-width: 693px;
  width: 100%;
  border-left: 6px solid lightgray
}
.head-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.stage-box {
  width: 100%;
  display: flex;
}

.stage-title {
  font-size: 1.5em;
  color: #3E5771;
  margin: 0;
  line-height: 60px;
  padding-left: 40px;
}

.fa-circle{
  font-size: 1.2em;
}

.sub-title {
  font-size: 1.2em;
  color: #26384A;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.stage-top {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  padding-top: 18px!important;
}

.stage-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.mr-5 {
  color: lightgray;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  font-size: 60px;
  left: -33px;
  background: white;
}

.para {
  font-size: 1em;
  width: 70%;
  padding-top: 18px!important;
}

.small {
  max-height: 35px;
}

.bg-red {
  background-color: #3e5771!important;
  color: white!important;
}

.se-f {
  width: 100%!important;
  margin-top: 0!important;
}

.se-gf {
  display: flex;
  flex-direction: column!important;
}

.m-span00x textarea{
  outline: none;
  min-height: 500px
}

.field {
  display: flex;
  justify-content: center;
}

.field textarea {
  border: 1px solid gray;
  outline: none;
  width: 75%;
  min-height: 100px
}

.success-msg {
  color: green
}

.error-msg {
  color: #ae0001
}

.fs-18 {
  font-size: 1.2em
}

.mt-0x, .ui.button {
  margin-top: 0!important;
}

.no-pad {
  padding-top: 0;
  margin-top: 0;
  box-shadow: none
}
