* {
  margin: 0;
  padding: 0
}

body {
  background-color: #3E5771
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: whitesmoke;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
  padding: 30px;
  margin: 7.5vh 0 0 5%;
  width: 90%;
}

.profile-info {
  display: flex;
  align-items: center;
  width: 70vw;
}

.circle-img {
  border-radius: 15vw;
  width: 15vw;
}

.w-x100 {
  width: 100%;
}

.space {
  margin: 2.5%;
}

.right-side {
  max-width: 25vw;
}

.info-feild {
  margin: 0 0 5px 0;
  font-size: 1.5em;
}

.job-title {
  color: gray;
}

.name-feild {
  font-size: 2em
}

.vertical-divider {
  border-left: 3px solid #c6c6c6b3;
  min-height: 50px;
  margin: 0 2vw 0 2vw
}

.horizontal-divider {
  border-bottom: 3px solid #c6c6c6b3;
  width: 80%;
  margin: 2vh 0 2vh 0;
}

.sticky-divider {
  border-bottom: 2px solid #c6c6c6b3;
  width: 70%;
  margin: 0;
}

.stages-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70vw;
}

.stage-holder{
  margin-bottom: 10vh;
  width: 100%;
}
.head-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.stage-box {
  width: 100%;
}

.stage-title {
  font-size: 2em;
  color: #3E5771;
}

.fa-circle{
  font-size: 1.7em;
}

.sub-title {
  font-size: 1.7em;
  color: #26384A;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0
}

.stage-top {
  display: flex;
  justify-content: flex-start;
  width: 50%
}

.stage-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mr-5 {
  margin-right: 3vw;
  color: lightgray;
  min-width: 70px;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ml-5 {
  margin: 0;
  margin-left: 5vw!important;
}

.para {
  font-size: 1.5em;
  width: 70%
}

.small {
  max-height: 35px;
}

.bg-red {
  background-color: #3e5771!important;
  color: white!important;
}

.se-f {
  width: 100%!important;
  margin-top: 0!important;
}

.se-gf {
  display: flex;
  flex-direction: column!important;
}

.m-span00x textarea{
  outline: none;
  min-height: 500px
}

.field {
  display: flex;
  justify-content: center;
}

.field textarea {
  border: 1px solid gray;
  outline: none;
  width: 75%;
  min-height: 100px
}

.success-msg {
  color: green
}

.error-msg {
  color: #ae0001
}

.fs-18 {
  font-size: 18px
}

.mt-0x, .ui.button {
  margin-top: 0!important;
}
